
    h2{color:tomato;
        border-bottom:solid 2px #cccccc;
        padding:20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align:center;
        margin-left:10px;
        margin-right:20px;
        padding-bottom:10px;

    }
    a{color:#777777;}
    a:link{text-decoration:none;
    color:none;}
a:visited{text-decoration:none;
}
    .navbar{
        padding-left:10px;
        padding-right:10px
    }
    body{
        background-image: url("../images/white-waves.png");
}
    
    .section{float:left;
        background-color:#ffffff;
        border: solid #dddddd 2px;
    font-family:Arial, Helvetica, sans-serif;
   width:960px;
   overflow: hidden
   
   
}
    
#mike{padding:25px;
    float:left;}
    p{padding-left:10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#777777;}
    
    .aside{float:left;
    padding-left:40px;
    }

    ;
    .caption{
        text-align:center;
    }
      
      .container {
        text-align: center;
        padding: 3px 15px;
        color:#ffffff;
        font-family:Arial, Helvetica, sans-serif;
      }

form{padding:25px;
    font-family:Arial, Helvetica, sans-serif;
    color:#777777;
    margin-left:25px;

}

footer{padding:3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid tomato;
    color: #9d9d9d;
    background-color:#333333;
    text-align: center;
margin-top:-50px;}
    


  
